.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
    color: white;
    font-family: Avenir-Roman, sans-serif;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color:white;
}

#alert-dialog-description {
    color: white;
}