.fixed-btn {
    position: fixed;
    background: rgb(29, 28, 28);
    width: 130px;
    height: 45px;
    line-height: 45px;
    bottom: 15%;
    right: 3%;
    border-radius: 3px;
    text-align: center;
    box-shadow: 4px 4px 4px rgb(190, 186, 186);
    cursor: pointer;
    z-index:2;
}

.fixed-btn-black-gold {
    background: #5e4e0d;
    box-shadow: 4px 4px 4px #5e542e;
    position: fixed;
    width: 130px;
    height: 45px;
    line-height: 45px;
    bottom: 15%;
    right: 3%;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    z-index:2;
}

.fixed-btn-black-red {
    background: #af3a3a;
    box-shadow: 4px 4px 4px #965f5f;
    position: fixed;
    width: 130px;
    height: 45px;
    line-height: 45px;
    bottom: 15%;
    right: 3%;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    z-index:2;
}

.fixed-btn-blue-white {
    position: fixed;
    background: #0FACF3;
    width: 130px;
    height: 45px;
    line-height: 45px;
    bottom: 15%;
    right: 3%;
    border-radius: 3px;
    text-align: center;
    box-shadow: 4px 4px 4px #0a78aa;
    cursor: pointer;
    z-index:2;
}

.fixed-btn p{
    text-transfrom: uppercase;
    font-weight: 900;
    color: #fff;

}

.fixed-btn:active {
    box-shadow: 0 0 0;
}