* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #111;
    color: #fff;
}

.body-blue-white {
    background-color: rgb(221, 212, 212);
    color:black;
}

a {
    color:#fff
}