*{
  margin: 0;
  padding: 0;
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Avenir-Roman, sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
}

body::-webkit-scrollbar {
  display: none;
}


